@charset"UTF-8";
/*Selecionar Editar*/
form.formCrudSelecioneEditar {
	margin: 10px auto 30px auto;
    width: 500px;   
}
form.formCrudSelecioneEditar label {
	display: inline-block;
	text-align: right;
	width: 200px;
}
/*Excluir*/
form.formCrudSelecioneExcluir {
	margin: 100px auto 30px auto;
    width: 500px;   
}
form.formCrudSelecioneExcluir label {
	display: inline-block;
	text-align: right;
	width: 200px;
}

/*Formulario principal*/
form.formCrud {
    margin: 0 auto;
    width: 400px;   
}

form.formCrud div + div {
	margin-top: 1em;
}
form.formCrud label {
	display: inline-block;
	text-align: right;
	width: 150px;
}
input{
	width: 210px;
	background-color: #f0f0f0;
	border: 2px solid #444444;
	border-radius: 6px;
	padding: 5px;
}
div.g-recaptcha{
	margin-top: 30px;
	margin-left: 85px;
	width: 300px;  
}
div.divBtn {
	margin-top: 30px;
	margin-left: 100px;
}
/*Posicionamento do captcha e btn da pagina excluir*/
div.divBtnExcluir {
	margin-top: 30px;
	margin-left: 180px;
}

div.captchaExcluir{
	margin-top: 30px;
	margin-left: 50px;
	width: 300px;  
}


button.btn {

	border: 2px solid #444444;
	border-radius: 6px;
	background-color:#0e60ac;
	color: #fefefc;
	padding: 6px 30px;
	text-decoration: none;
	font-size: 14px;
}
button.btnCancelar{
	border: 2px solid #444444;
	border-radius: 6px;
	background-color:#f0f0f0;
	color: #444444;
	padding: 6px 30px;
	text-decoration: none;
	font-size: 14px;
}


/*Importar*/
div.formCrudImportar {
	margin: 10px auto 30px auto;
    width: 600px;  
}
div.formCrudImportar label {
	display: inline-block;
	text-align: right;
	width: 200px;
}

div.formCrudImportar p{
	font-size: 10pt;
	margin: 20px;
	text-align: center;
	margin-bottom: 20px;
}